
<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16"
>

  <div class="px-6">
    <div class="text-center mt-12">
      <h3
        class="text-xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
      >
        Pranith Sai Manda
      </h3>
      <div
        class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase"
      >
        <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
        Hyderabad, Telangana
      </div>
      <div class="mb-2 text-blueGray-600 mt-10">
        <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>
        Full Stack Java Developer
      </div>
      <div class="mb-2 text-blueGray-600">
        <i class="fas fa-university mr-2 text-lg text-blueGray-400"></i>
        University college of Engineering, Osmania University
      </div>
    </div>
    <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
      <div class="flex flex-wrap justify-center">
        <div class="w-full lg:w-9/12 px-4">
          <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
            I am a dedicated Software Developer with a strong foundation in both
            back-end and front-end development, encompassing all phases of the
            product development life cycle. With expertise in Java programming,
            UI technologies (Angular, HTML, CSS, JavaScript), and various Spring
            frameworks (Spring Boot, Spring MVC, Spring JPA), I am committed to
            delivering reliable, scalable, and efficient software solutions.
            Throughout my career, I have worked on banking domain applications,
            focusing on developing third-party APIs and in-house RESTful web
            services. I bring extensive knowledge in Core Java, multi-threading,
            JDBC, collections, and exception handling, which I apply to ensure
            optimal performance and robust functionality. I have also
            contributed to team success by mentoring new developers, guiding
            them through technical challenges and project processes, thereby
            enhancing team productivity. I have played a pivotal role in
            streamlining development workflows by integrating Version Control
            (Git) and Maven into legacy systems, which improved collaboration
            and maintenance efficiency.On the front-end, I have built dynamic,
            user-friendly interfaces using Angular, JSP, and AJAX techniques,
            ensuring seamless interaction with back-end services and an enhanced
            user experience. With a comprehensive understanding of Monolithic
            and Microservices architectures, I am skilled in deploying solutions
            using Jenkins, GitLab CI/CD, and Docker, and managing databases
            through Oracle SQL. My ability to leverage these tools ensures
            smooth deployment pipelines and effective database integration.
            Having worked in Agile environments, I am well-versed in the full
            Software Development Life Cycle (SDLC), from requirements gathering
            to final deliverables, and I am always eager to adopt emerging
            technologies and frameworks to continuously improve development
            processes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
